.avoid-hover-css:hover{
  background-color: rgb(250, 250, 250) !important;
}

.page-content{
  position: relative;
}

.view{
  position: absolute;

  min-height: 0 !important;

  .mdl-card__actions{
    height: 50px;
  }

  .mdl-card__actions span:hover{
    background-color: white;
  }
}
